<app-loader
    [blocked]=""></app-loader>
<p-dialog class="ui-fluid" header="Perfil Usuario" [(visible)]="display" modal="modal" width="560"
          [responsive]="true" [closable]="true" (onHide)="cerrarActualizar()">
    <app-messages-alert-time-fade-out [messageCustom]="mensajeConfirmacion"></app-messages-alert-time-fade-out>
    <form [formGroup]="formUser">
        <div class="ui-inputgroup">
            <div class="ui-g-4">
                <label>Nombre</label>
            </div>
            <div class="ui-g-8">
                <input formControlName="name" pInputText type="text" autocomplete="off" autocorrect="off"
                       autocapitalize="off" spellcheck="off" [(ngModel)]="currentUser?.body.name"
                       placeholder="Ej. nombre">
                <span class="val"
                      *ngIf="formUser.controls['name'].errors?.required &&formUser.touched && formUser.controls['name'].dirty">Requerido</span>

            </div>
        </div>

        <div class="ui-inputgroup">
            <div class="ui-g-4">
                <label>Correo Electrónico</label>
            </div>
            <div class="ui-g-8">
                <input formControlName="email" pInputText type="email" autocomplete="off" autocorrect="off"
                       autocapitalize="off" spellcheck="off" [(ngModel)]="currentUser?.body.email"
                       placeholder="Ej. micorreo@gmail.com">

                <span class="val"
                      *ngIf="formUser.controls['email'].errors?.pattern &&formUser.touched && formUser.controls['email'].dirty">Formato Inválido</span>
                <span class="val"
                      *ngIf="formUser.controls['email'].errors?.required &&formUser.touched && formUser.controls['email'].dirty">Requerido</span>

            </div>

        </div>

        <div class="ui-inputgroup">
            <div class="ui-g-4">
                <label>Numero De Telefono</label>
            </div>
            <div class="ui-g-8">
                <input formControlName="phoneNumber" pInputText type="text" autocomplete="off" autocorrect="off"
                       autocapitalize="off" spellcheck="off" [(ngModel)]="currentUser?.body.phoneNumber"
                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                <span class="val"
                      *ngIf="formUser.controls['phoneNumber'].errors?.required &&formUser.touched && formUser.controls['phoneNumber'].dirty">Requerido</span>

            </div>
        </div>
    </form>

    <p-footer>
        <button type="button" pButton icon="ui-icon-check" (click)="aceptarPerfil()" label="Aceptar"
                class="ui-button-success"></button>
        <button type="button" pButton icon="ui-icon-edit" (click)="editarPerfil()" label="Editar"
                class="ui-button-info"></button>
    </p-footer>
</p-dialog>



