<app-messages-alert-time-fade-out [messageCustom]="msgServicio"></app-messages-alert-time-fade-out>

<app-loader
    [blocked]="loader">
</app-loader>

<p-fieldset legend="Administración de Usuarios">
    <div class="ui-g-12">
        <div class="ui-g-1">
            Entidad:
        </div>
        <div class="ui-g-4">

            <p-autoComplete [(ngModel)]="entidad" [suggestions]="filtroEntidades"
                            (completeMethod)="filterEntidadySelect($event)" field="name" [size]="30"
                            placeholder="[ Seleccione ]" [minLength]="1" (onSelect)="cambiarDecision()"
                            [dropdown]="true"></p-autoComplete>


        </div>
        <div class="ui-g-3" [hidden]="botonBuscar">
            <button pButton label="Buscar" icon="ui-icon-search" (click)="buscarGrupo()">
            </button>
        </div>
    </div>
    <div class="ui-g-12"></div>
    <form [hidden]="entidadSeleccionada" class="ui-fluid" [formGroup]="formUser">

        <div class="ui-g-4">
            <div class="ui-g form-group">
                <div class="ui-g-12">
                    <label>Usuario</label>
                </div>
                <div class="ui-g-12">
                    <input formControlName="usuario" pInputText type="text" autocomplete="off" autocorrect="off"
                           autocapitalize="off" spellcheck="off">
                </div>
            </div>
        </div>

        <div class="ui-g-4">
            <div class="ui-g form-group">
                <div class="ui-g-12">
                    <label>Rol</label>
                </div>
                <div class="ui-g-12">
                    <input formControlName="rol" pInputText type="text" autocomplete="off" autocorrect="off"
                           autocapitalize="off" spellcheck="off">
                </div>
            </div>
        </div>


        <div class="ui-g-4">
            <div class="ui-g form-group">
                <div class="ui-g-12">
                    <label>Nombre</label>
                </div>
                <div class="ui-g-12">
                    <input formControlName="nombre" pInputText type="text" autocomplete="off" autocorrect="off"
                           autocapitalize="off" spellcheck="off">
                </div>
            </div>
        </div>

        <div class="ui-g-2">
            <div class="ui-g-12">
                <button pButton label="Buscar" icon="ui-icon-search" (click)="organizarInfoBusqueda()">
                </button>
            </div>
        </div>

    </form>

    <div class="ui-g-12" style="margin-bottom:10px">
        <p-dataTable [resizableColumns]="true" [value]="grupoUsuarios" selectionMode="single" [paginator]="true"
                     [rows]="10"
                     [responsive]="true" [hidden]="!grupoUsuarios" [style]="{'text-align':'center'}" emptyMessage="No se Encontraron Registros">
            <p-header>
                <div class="ui-helper-clearfix">
                    Grupo de Usuarios

                </div>
            </p-header>
            <p-column header="Usuario" [sortable]="true">
                <ng-template let-user="rowData" pTemplate="body" style="text-align: center">
                    {{ user?.userName}}
                </ng-template>
            </p-column>
            <p-column header="Rol de Usuario" [sortable]="true">
                <ng-template let-user="rowData" pTemplate="body">
                    <option *ngFor="let rol of user?.roles">
                        {{ rol?.description }}
                    </option>
                </ng-template>
            </p-column>
            <p-column header="Nombre" [sortable]="true">
                <ng-template let-user="rowData" pTemplate="body" style="text-align: center">
                    {{ user?.name }}
                </ng-template>
            </p-column>
            <p-column styleClass="col-button" [style]="{'width':'80px'}">
                <ng-template let-user="rowData" let-index="rowIndex" pTemplate="body" style="text-align: center">
                    <button type="button" pButton icon="ui-icon-edit"
                            (click)="editarUsuario(user, index)"></button>
                </ng-template>
            </p-column>

        </p-dataTable>
    </div>

</p-fieldset>

<div *ngIf="usuarioPadre">
    <app-detalleAdministracionUsuarios
        [usuarioHijo]="usuarioPadre"
        [usuarioHijo1]="usuarioPadre"
        [listaTipoIdent]="listaTipoIdent"
        [listaRol]="listaRol"
        (guardarUsuario)="guardarUsuario($event)"
        (cerrarPopUp)="cerrarPopUp($event)"
    ></app-detalleAdministracionUsuarios>
</div>
