<p-fieldset legend="Datos de Contacto">
  <form class="ui-g-12" [formGroup]="formaContacto">

    <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
        <div class="ui-g form-group">
        <div class="ui-g-12">
            <label>Email *</label>
        </div>
        <div class="ui-g-12">
            <input formControlName="email" pInputText type="text" autocomplete="off" autocorrect="off"
            autocapitalize="off" spellcheck="off">
        </div>
        </div>
    </div>

    <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
        <div class="ui-g form-group">
        <div class="ui-g-12">
            <label>Dirección</label>
        </div>
        <div class="ui-g-12">
            <input formControlName="direccion" pInputText type="text" autocomplete="off" autocorrect="off"
            autocapitalize="off" spellcheck="off">
        </div>
        </div>
    </div>

    <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
        <div class="ui-g form-group">
        <div class="ui-g-12">
            <label>Teléfono *</label>
        </div>
        <div class="ui-g-12">
            <input formControlName="telefono" pInputText type="text" autocomplete="off" autocorrect="off"
            autocapitalize="off" spellcheck="off">
        </div>
        </div>
    </div>
  
  </form>  
</p-fieldset>