<p-messages [closable]="true" [(value)]="msgServicio"></p-messages>
<p-fieldset legend="Administración de Tareas">


    <app-loader
        [blocked]="loaderGeneral"></app-loader>

    <div class="ui-g-12" style="margin-bottom:10px">
        <button style="margin-bottom:10px" label="Actualizar" stype="button" pButton
                icon="ui-icon-update"
                (click)="refrescarTareas()"
        >
            <action-spinner *ngIf="loader"></action-spinner>
        </button>
    </div>

    <div class="ui-g-12" style="margin-bottom:10px">
        <p-dataTable [value]="tareas" selectionMode="single" [paginator]="true"
                     [responsive]="true" [rows]="10" [style]="{'text-align':'center'}">
            <p-header>
                <div class="ui-helper-clearfix">
                    Tareas
                </div>
            </p-header>
            <p-column field="taskId" header="Id Tarea" [sortable]="true"></p-column>
            <p-column field="taskName" header="Nombre" [sortable]="true"></p-column>
            <p-column field="taskStatus" header="Estado" [sortable]="true"></p-column>
            <p-column field="taskActualOwner" header="Propietario" [sortable]="true"></p-column>
            <p-column field="instanceId" header="Radicado" [sortable]="true"></p-column>
            <p-column styleClass="col-button" header="Asignar Tarea" [style]="{'width':'80px'}">
                <ng-template let-task="rowData" pTemplate="body">
                    <button type="button" pButton icon="ui-icon-transfer-within-a-station"
                            (click)="reasignarTarea(task)">
                    </button>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>

</p-fieldset>

<div *ngIf="!!request.assignment.user">
    <app-reasignarTareaDetalle
        [taskActualOwner]="request.assignment.user"
        (enviarAsignacion)="enviarAsignacion($event)">
    </app-reasignarTareaDetalle>
</div>
