<div class="container">

    <app-loader
        [blocked]="loader">
    </app-loader>
    <p-fieldset legend="Administración de Privacidad">

        <div class="card-group">
            <div style="max-width: 18rem;" (click)="cambiarPassword()">
                <div class="ui-g-12">
                    <button pButton label="Cambiar Contraseña" icon="ui-icon-lock">
                    </button>
                </div>
            </div>
        </div>
    </p-fieldset>

    <p-dialog class="ui-fluid" header="Perfil Usuario" [(visible)]="cambiar" modal="modal" width="760"
              [responsive]="true" [closable]="false">
        <app-messages-alert-time-fade-out [messageCustom]="mensajeCambioContrasena"></app-messages-alert-time-fade-out>
        <form [formGroup]="form" (keyup.enter)="cambiarService()">
            <div class="ui-inputgroup">
                <div class="ui-g-4">
                    <label>Usuario</label>
                </div>
                <div class="ui-g-8">
                    <input formControlName="username" pInputText type="text" autocomplete="off"
                           autocorrect="off"
                           autocapitalize="off" spellcheck="off " style="width:100%" [ngModel]="body?.username"
                           [readOnly]="true">
                </div>
            </div>

            <div class="ui-inputgroup">
                <div class="ui-g-4">
                    <label>Antigua Contraseña</label>
                </div>
                <div class="ui-g-8">
                    <input formControlName="oldPassword" type="password" autocomplete="off" autocorrect="off"
                           autocapitalize="off" spellcheck="off" style="width:100%" pInputText>
                    <span class="val"
                          *ngIf="form.controls['oldPassword'].errors?.minlength && form.touched && form.controls['oldPassword'].dirty">Min 10 caracteres</span>
                </div>

            </div>

            <div class="ui-inputgroup">
                <div class="ui-g-4">
                    <label>Nueva Contraseña</label>
                    <span class="val"
                          *ngIf="form.controls['newPassword'].errors?.minlength && form.touched && form.controls['newPassword'].dirty">Min 10 caracteres</span>

                </div>
                <div class="ui-g-8">
                    <input type="password" pInputText pTooltip="{{mensajePoliticas}}" (input)="validarCaracteres()"
                           formControlName="newPassword" tooltipEvent="focus"
                           autocomplete="off" autocorrect="off" (focus)="initConfirmarContrasena()">
                    <span class="val"
                          *ngIf="mensaje.length > 0">{{mensaje}}</span>

                </div>

            </div>

            <div class="ui-inputgroup">
                <div class="ui-g-4">
                    <label>Confirmar Nueva Contraseña</label>

                </div>
                <div class="ui-g-8">
                    <input pInputText
                           formControlName="confirmarPassword" type="password" autocomplete="off" autocorrect="off"
                           autocapitalize="off" spellcheck="off" pInputText>
                    <span class="val" *ngIf="contrasenasIguales">Contraseñas no Coinciden</span>

                </div>

            </div>
        </form>

        <p-footer>
            <button [disabled]="error" type="button" pButton icon="ui-icon-check" label="Cambiar Contraseña"
                    class="ui-button-success"
                    pButton icon="ui-icon-check" (click)="cambiarService()"></button>
            <button type="button" pButton icon="ui-icon-close" label="Cancelar" class="ui-button-danger"
                    (click)="closePopup()"></button>

        </p-footer>

    </p-dialog>


    <p-dialog class="ui-fluid" [(visible)]="infoPopUp" modal="modal" width="760"
              [responsive]="true" [closable]="false">
        <p style="white-space: pre-line; text-align: center">
            <app-messages-alert-time-fade-out
                [messageCustom]="mensajeConfirmacionPassword"></app-messages-alert-time-fade-out>
            <span class="ui-g">
                <span class="ui-g-12">
                    <span class="ui-g-5"></span>
                       <span class="ui-g-3">
                             <button type="button" pButton icon="pi pi-check" (click)="cerrarPoliticas()"
                                     label="Ir a Login"></button>
                       </span>
                       <span class="ui-g-5"></span>

                </span>

            </span>

        </p>


    </p-dialog>

</div>
