<p-dialog header="Editar Parámetro" [(visible)]="display" modal="modal"
          width="750" [responsive]="true" [closable]="false">


    <div class="form-group">


        <div *ngIf="idNoNull" class="ui-inputgroup">
            <div class="ui-g-4">
                <label>Id Padre</label>
            </div>
            <div class="ui-g-8">
                <input type="text" size="63" pInputText [(ngModel)]="usuarioHijo.idPadre">
            </div>
        </div>


        <div class="ui-inputgroup">
            <div class="ui-g-4">
                <label>Nombre</label>
            </div>
            <div class="ui-g-8">
                <input type="text" size="63" pInputText [(ngModel)]="usuarioHijo.nombre">
            </div>
        </div>


        <div class="ui-inputgroup">
            <div class="ui-g-4">
                <label>Descripcion</label>
            </div>
            <div class="ui-g-8">
                <input type="text" size="63" pInputText [(ngModel)]="usuarioHijo.descripcion">
            </div>
        </div>

        <div class="ui-inputgroup">
            <div class="ui-g-4">
                <label>Valor</label>
            </div>
            <div class="ui-g-8">
                <input type="text" size="63" pInputText [(ngModel)]="usuarioHijo.valor">

            </div>
        </div>


    </div>


    <p-footer>

        <button type="button" pButton icon="ui-icon-check" (click)="actualizarParametro()" label="Guardar"
                class="ui-button-success"></button>

        <button type="button" pButton icon="ui-icon-close" (click)="cerrarPopUp()" label="Cancelar"
                class="ui-button-danger"></button>
    </p-footer>

</p-dialog>
