<app-loader
    [blocked]="loader">

</app-loader>
<alert></alert>
<p-messages [(value)]="error"></p-messages>

<div class="card login-panel ui-fluid" *ngIf="ocultarContenido">

    <div class="ui-g">
        <div class="ui-g-12">
            <img src="assets/layout/images/logo.png">
        </div>


        <form (keyup.enter)="submit()" (ngSubmit)="submit()" [formGroup]="formRecover" novalidate>

            <div class="ui-g-12">
          <span class="md-inputfield">
              <input formControlName="username" [value]="usuario" formControlName="username" pInputText type="text"
                     autocomplete="off" autocorrect="off"
                     autocapitalize="off" spellcheck="off" readonly>

          </span>
            </div>
            <div class="ui-g-12">
          <span class="md-inputfield">
              <input pInputText pTooltip="{{mensajePoliticas}}" (input)="validarCaracteres()" formControlName="password"
                     type="password" autocomplete="off" autocorrect="off"
                     autocapitalize="off" spellcheck="off" tooltipEvent="focus">
              <label>Nueva Contraseña</label>
<span class="val"
      *ngIf="mensaje?.length > 0">{{mensaje}}</span>
          </span>
            </div>

            <div class="ui-g-12">
          <span class="md-inputfield">
              <input pInputText
                     formControlName="confirmarPassword" type="password" autocomplete="off" autocorrect="off"
                     autocapitalize="off" spellcheck="off" pInputText>
              <label>Confirmar Nueva Contraseña</label>
              <span class="val" *ngIf="contrasenasIguales && formRecover.invalid ">Contraseñas no Coinciden</span> <br>

          </span>
            </div>


        </form>

        <div class="ui-g-12">

            <button pButton type="submit" label="Cambiar" (click)="submit()"
                    style="margin-bottom:10px" class="blue-grey-btn"

                    icon="ui-icon-check" [disabled]="formRecover.invalid"></button>

        </div>
    </div>
</div>
<div class="card" *ngIf="!ocultarContenido">
    <div class="ui-g">
        <div class="ui-g-12">
            Por favor presione el siguiente boton para volver a recuperar contraseña, ya que caduco su link de
            validacion.
        </div>
        <div class="ui-g-12">
        </div>

        <div class="ui-g-12">
            <button pButton type="submit" label="Volver login / Recuperar Clave" (click)="volverLogin()"
                    style="margin-bottom:10px" class="blue-grey-btn"
                    icon="ui-icon-check"></button>
        </div>
    </div>


</div>

<p-dialog class="ui-fluid" [(visible)]="infoPopUp" modal="modal" width="760"
          [responsive]="true" [closable]="false">
    <p style="white-space: pre-line; text-align: center">
        <app-messages-alert-time-fade-out [messageCustom]="mensajeCambioContrasena"></app-messages-alert-time-fade-out>
        <span class="ui-g">
                <span class="ui-g-12">
                    <span class="ui-g-5"></span>
                       <span class="ui-g-3">
                             <button type="button" pButton icon="pi pi-check" (click)="cerrarPoliticas()"
                                     label="Ir a Login"></button>
                       </span>
                       <span class="ui-g-5"></span>

                </span>

            </span>

    </p>


</p-dialog>

