<p-fieldset>
  <p-header>{{tipoParticipante.descripcion}}</p-header>
  
    <form [formGroup]="formaParticipante">

        <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
            <div class="ui-g form-group">
            <div class="ui-g-12">
                <label>Primer Nombre *</label>
            </div>
            <div class="ui-g-12">
                <input formControlName="primerNombre" pInputText type="text" autocomplete="off" autocorrect="off"
                autocapitalize="off" spellcheck="off">
            </div>
            </div>
        </div>

        <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
            <div class="ui-g form-group">
            <div class="ui-g-12">
                <label>Segundo Nombre </label>
            </div>
            <div class="ui-g-12">
                <input formControlName="segundoNombre" pInputText type="text" autocomplete="off" autocorrect="off"
                autocapitalize="off" spellcheck="off">
            </div>
            </div>
        </div>

        <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
            <div class="ui-g form-group">
            <div class="ui-g-12">
                <label>Primer Apellido *</label>
            </div>
            <div class="ui-g-12">
                <input formControlName="primerApellido" pInputText type="text" autocomplete="off" autocorrect="off"
                autocapitalize="off" spellcheck="off">
            </div>
            </div>
        </div>

        <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
            <div class="ui-g form-group">
            <div class="ui-g-12">
                <label>Segundo Apellido</label>
            </div>
            <div class="ui-g-12">
                <input formControlName="segundoApellido" pInputText type="text" autocomplete="off" autocorrect="off"
                autocapitalize="off" spellcheck="off">
            </div>
            </div>
        </div>

        <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
            <div class="ui-g form-group">
            <div class="ui-g-12">
                <label>Edad </label>
            </div>
            <div class="ui-g-12">
                <input formControlName="edad" pInputText type="text" autocomplete="off"
                autocorrect="off" autocapitalize="off" spellcheck="off">
            </div>
            </div>
        </div>

    </form>

    <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
        <div class="ui-g form-group" *ngIf="tipoId.length">
        <div class="ui-g-12">
            <label>Tipo Identificación *</label>
        </div>
        <div class="ui-g-12">
            <p-dropdown [options]="tipoId" placeholder="Seleccione" optionLabel="name" 
            [style]="{minWidth:'100%'}" (onChange)="selectForm($event, 'tipoDocIdent')" 
            [(ngModel)]="tipoDocIdentSelect" [disabled]="!setEditable"></p-dropdown>
        </div>
        </div>
    </div>

    <form [formGroup]="formaParticipante">

        <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
            <div class="ui-g form-group">
            <div class="ui-g-12">
                <label>Número Identificación *</label>
            </div>
            <div class="ui-g-12">
                <input formControlName="numeroDocIdent" pInputText type="text" autocomplete="off" autocorrect="off"
                autocapitalize="off" spellcheck="off">
            </div>
            </div>
        </div>

    </form>

    <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3" [hidden]="parentezcoView">
        <div class="ui-g form-group" *ngIf="tipoRelacion.length">
            <div class="ui-g-12">
                <label>Tipo Relación *</label>
            </div>
            <div class="ui-g-12">
                <p-dropdown [options]="tipoRelacion" placeholder="Seleccione" optionLabel="name"
                (onChange)="selectForm($event, 'relacion')" [style]="{minWidth:'100%'}"
                [(ngModel)]="tipoRelacionSelect" [disabled]="!setEditable"></p-dropdown>
            </div>
        </div>
    </div>

</p-fieldset>
      