<app-perfilUsuario
    *ngIf="showPerfil"
    (closePopupPerfil)="closePopupPerfil($event)">
</app-perfilUsuario>

<div class="layout-wrapper layout-compact">

    <div #layoutContainer class="layout-container" [ngClass]="{
          'menu-layout-static': !isOverlay(),
          'menu-layout-overlay': isOverlay(),
          'layout-menu-overlay-active': overlayMenuActive,
          'menu-layout-horizontal': isHorizontal(),
          'layout-menu-static-inactive': staticMenuDesktopInactive,
          'layout-menu-static-active': staticMenuMobileActive
          }">

        <app-topbar></app-topbar>

        <div class="layout-menu" [ngClass]="{'layout-menu-dark':darkMenu}" (click)="onMenuClick($event)">
            <p-scrollPanel #scrollPanel [style]="{height: '100%'}">
                <app-inline-profile
                    (onSecurityRole)="onSecurityRole($event)"
                    (onProfileRole)="onProfileRole($event)"
                    (onPrivacity)="onPrivacity($event)"
                    (onParameterRole)="onParameterRole($event)"
                    (onUpdateData)="onUpdateData($event)"
                    (onAdmiPlantilla)="onAdmiPlantilla($event)"
                    *ngIf="profileMode=='inline'&&!isHorizontal()">
                </app-inline-profile>
                <app-menu [reset]="resetMenu"></app-menu>
            </p-scrollPanel>
        </div>

        <div class="layout-main">
            <app-breadcrumb></app-breadcrumb>
            <alert></alert>
            <app-messages-alert-time-fade-out [messageCustom]="mensajeConfirmacion"></app-messages-alert-time-fade-out>
            <div class="layout-content">
                <router-outlet></router-outlet>
                <app-footer></app-footer>
            </div>
        </div>

        <div class="layout-mask"></div>
    </div>

</div>
