@import '../../../../node_modules/primeng/resources/primeng.min.css';
@import '../../../../node_modules/primeicons/primeicons.css';
@import '../../../../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../../../../node_modules/primeng/resources/components/carousel/carousel.css';

.generalPage {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

h2 {
    color: #143D8D;
    font-weight: bold;
    font-size: 25px;
    font-family: Arial;
}

.card1 {
    background-color: #ffffff;
    color: #333333;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.carousel {
    position: relative;
    padding: .063em;
}

.h2 {
    color: #143D8D;
    font-weight: bold;
    font-size: 25px;
    font-family: Arial;
}

.items {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 32000px;
    left: 0;
}

.item {
    margin: 1px;
    padding: 0;
    float: left;
    box-sizing: border-box;
}

.texto {

    text-indent: 1em;
    text-align: left;

}

.carrusel {
    overflow: hidden;
    position: relative;
    border: 0;
    display: flex;
}

.footer {
    margin: 1px 1px 0px 1px;
    padding: .5em;
    overflow: hidden;
}

.header {
    margin: 0 1px;
    overflow: hidden;
    padding: .625em;
}

.title {
    display: inline-block;
    overflow: hidden;
}

.mobiledropdown {
    float: right;
    margin: 0px .625em;
    background-image: none;
}

.link {
    float: left;
    margin: 0 .125em;
    text-decoration: none;
}

.button {
    cursor: pointer;
}

.ulinks {
    margin: 0px .5em;
    margin-top: .125em;
    float: right;
}

.mobiledropdown {
    display: none;
}
