<div class="card1 ui-g-12">
    <header>
        <div class="generalPage">
            <div class="ui-fluid">
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-6">
                        <img src="assets/img/headerPagosPse/fogacoop.png"
                             style="max-width: 400px; min-width: 100px">
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <img src="assets/img/headerPagosPse/Logo-MinHacienda-header.png"
                             style="max-width: 400px; min-width: 100px">
                    </div>
                </div>
            </div>

            <h2 class="encabezado">Bienvenidos</h2>

        </div>
    </header>

    <body>
    <div class="generalPage">
        <p-carousel responsive="true" class="carrusel" headerText="Información"
                    [value]="listContentCarrusel" [style]="{'display':'contents', 'text-indent':'15px'}">
            <ng-template let-info pTemplate="info">
                <p-card class="texto">
                    <p-header style="font-weight: bold; margin-left: 6px">
                        {{info.titulo}}
                    </p-header>
                    <label style="text-indent: 15px">{{info.subtitulo}}</label><br>
                    <label pTooltip="{{info.cuerpoMensaje}}">{{info.cuerpoMensaje}}</label>
                </p-card>

            </ng-template>
        </p-carousel>
    </div>
    </body>
</div>

