<app-loader
    [blocked]="loader">
</app-loader>
<p-dialog header="Perfil Usuario" [(visible)]="display" modal="modal"
          width="750" [responsive]="true" [closable]="false">
    <app-messages-alert-time-fade-out [messageCustom]="mensajeConfirmacion"></app-messages-alert-time-fade-out>

    <div class="form-group">

        <div [formGroup]="formDetallUsuario">
            <div class="ui-inputgroup">
                <div class="ui-g-4">
                    <label>Nombre</label>
                </div>
                <div class="ui-g-8">
                    <input type="text" size="63" pInputText [(ngModel)]="usuarioHijo1.name" formControlName="nombre">
                    <span class="val"
                          *ngIf="formDetallUsuario.controls['nombre'].errors?.required &&formDetallUsuario.touched && formDetallUsuario.controls['nombre'].dirty">Requerido</span>

                </div>
            </div>


            <div class="ui-inputgroup">
                <div class="ui-g-4">
                    <label>Correo Electronico</label>

                </div>
                <div class="ui-g-8">
                    <input type="text" size="63" pInputText [(ngModel)]="usuarioHijo1.email" formControlName="email">
                    <span class="val"
                          *ngIf="formDetallUsuario.controls['email'].errors?.required &&formDetallUsuario.touched && formDetallUsuario.controls['email'].dirty">Requerido</span>
                    <span class="val"
                          *ngIf="formDetallUsuario.controls['email'].errors?.pattern &&formDetallUsuario.touched && formDetallUsuario.controls['email'].dirty">No Permitido</span>

                </div>
            </div>

            <div class="ui-inputgroup">
                <div class="ui-g-4">
                    <label>Numero de Teléfono</label>
                </div>
                <div class="ui-g-8">
                    <input type="text" size="63" pInputText [(ngModel)]="usuarioHijo1.phoneNumber"
                           formControlName="telefono"
                           onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                    <span class="val"
                          *ngIf="formDetallUsuario.controls['telefono'].errors?.required &&formDetallUsuario.touched && formDetallUsuario.controls['telefono'].dirty">Requerido</span>

                </div>
            </div>
        </div>
        <div class="ui-inputgroup">
            <div class="ui-g-4">
                <label>Asignar Rol</label>
            </div>
            <div class="ui-g-8">

                <p-multiSelect [options]="rolesDisponibles" placeholder="Seleccione" optionLabel="name"
                               [(ngModel)]="rolSelect"
                               [style]="{minWidth:'100%'}" (click)="agregarRolUsuario()"></p-multiSelect>
            </div>
        </div>


        <div class="ui-inputgroup">


            <p-dataTable [value]="rolesUsuario" selectionMode="single" [paginator]="true" [rows]="4"
                         [responsive]="true" [hidden]="!rolesUsuario" [style]="{'text-align':'center', 'height':'100'}">
                <p-header>
                    <div class="ui-helper-clearfix">
                        Rol Actual

                    </div>
                </p-header>
                <p-column header="Nombre del Rol" [sortable]="true">
                    <ng-template let-rolesUsuario="rowData" pTemplate="body">
                        {{rolesUsuario}}
                    </ng-template>
                </p-column>


                <p-column header="Acción" styleClass="col-button">
                    <ng-template let-ides="rowData" let-index="rowIndex" pTemplate="body">
                        <button [disabled]="soloUnRol" href="" style="width: auto" type="button" pButton
                                icon="ui-icon-delete"
                                (click)="eliminarRoles(index)"></button>
                    </ng-template>
                </p-column>

            </p-dataTable>


        </div>


    </div>

    <p-footer>
        <button type="button" pButton icon="ui-icon-check" (click)="guardarUsuarioInfo()" label="Guardar"
                class="ui-button-success"></button>

        <button type="button" pButton icon="ui-icon-close" (click)="cerrar()" label="Cancelar"
                class="ui-button-danger"></button>
    </p-footer>
</p-dialog>

