<body>
<div>
    <app-loader
        [blocked]="loader">
    </app-loader>
</div>
<div class="ui-card ui-g-12">
    <div class="generalPage">
        <header>
            <div class="generalPage">
                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-6">
                            <img src="assets/img/headerPagosPse/fogacoop.png"
                                 style="max-width: 400px; min-width: 100px">
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <img src="assets/img/headerPagosPse/Logo-MinHacienda-header.png"
                                 style="max-width: 400px; min-width: 100px">
                        </div>
                    </div>
                </div>
            </div>
        </header>


        <div class="generalPage">
            <div class="espaciado"></div>
            <div class="espaciado"></div>
            <div class="espaciado"></div>
            <div class="espaciado"></div>
            <div class="h2">
                <h2 style="text-align: left">Información Pago - Cooperativa</h2>
            </div>
            <app-messages-alert-time-fade-out [messageCustom]="msgGetTransaction"></app-messages-alert-time-fade-out>
            <app-messages-alert-time-fade-out [messageCustom]="msgs"></app-messages-alert-time-fade-out>
            <div class="ui-fluid">
                <p-accordion [multiple]="true">
                    <p-accordionTab style="text-align: left" header="Entidad / Periodo">
                        <div class="ui-g">
                            <div class="form-group ui-g-12 ui-md-12">

                                <div class="ui-g-11">
                                    <div class="ui-g-1">
                                        Entidad
                                    </div>
                                    <div class="ui-g-11">
                                        <input [ngModel]="nombreEntidad" pInputText type="text"
                                               disabled="false"
                                               readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group ui-g-12 ui-md-12">

                                <div class="ui-g-10">
                                    <div class="ui-g-1">
                                        Periodo
                                    </div>

                                    <div class="ui-g-7">
                                        <input [ngModel]="periodo" pInputText type="text" disabled="false" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-accordionTab>
                </p-accordion>

                <p-accordion [multiple]="true">
                    <p-accordionTab style="text-align: left" header="Valor Sugerido a Pagar">
                        <p-messages [closable]="false" [(value)]="mgsValorSugeridoPagar"></p-messages>
                        <div class="ui-g">
                            <div class="ui-g-3">
                                <div style="font-weight: bold" class="ui-g-12">
                                    Concepto
                                </div>
                            </div>

                            <div class="ui-g-3">
                                <div style="font-weight: bold" class="ui-g-12">
                                    Valor a Pagar
                                </div>
                            </div>
                            <div class="ui-g-6"></div>

                            <div class="ui-g-3">
                                <div class="ui-g-12">
                                    Prima
                                </div>
                            </div>

                            <div class="ui-g-3">
                                <div style="font-weight: bold" class="ui-g-12">
                                    <input
                                        [ngModel]="responseDetalleLiquidacion?.prima==null|| responseDetalleLiquidacion?.prima==undefined?'No Aplica':'$'+ responseDetalleLiquidacion?.prima| thousandsPipe"
                                        pInputText type="text" disabled="false" readonly>
                                </div>
                            </div>

                            <div class="ui-g-6"></div>

                            <div class="ui-g-3">
                                <div class="ui-g-12">
                                    Prima por Posicion Neta
                                </div>
                            </div>

                            <div class="ui-g-3">
                                <div style="font-weight: bold" class="ui-g-12">
                                    <input
                                        [ngModel]="responseDetalleLiquidacion?.primaPosNeta==null||responseDetalleLiquidacion?.primaPosNeta==undefined?'No Aplica':'$'+responseDetalleLiquidacion?.primaPosNeta | thousandsPipe"
                                        pInputText type="text" disabled="false" readonly>
                                </div>
                            </div>
                            <div class="ui-g-6"></div>

                            <div class="ui-g-3">
                                <div class="ui-g-12">
                                    Sobreprima
                                </div>
                            </div>

                            <div class="ui-g-3">
                                <div style="font-weight: bold" class="ui-g-12">
                                    <input
                                        [ngModel]="responseDetalleLiquidacion?.sobrePrima==null||responseDetalleLiquidacion?.sobrePrima==undefined?'No Aplica':'$'+responseDetalleLiquidacion?.sobrePrima | thousandsPipe"
                                        pInputText type="text" disabled="false" readonly>
                                </div>
                            </div>
                            <div class="ui-g-6"></div>

                            <div class="ui-g-3">
                                <div class="ui-g-12">
                                    Saldo Pendiente Pago
                                </div>
                            </div>

                            <div class="ui-g-3">
                                <div style="font-weight: bold" class="ui-g-12">
                                    <input
                                        [ngModel]="responseDetalleLiquidacion?.saldoPendiente==null||responseDetalleLiquidacion?.saldoPendiente==undefined?'No Aplica':'$'+responseDetalleLiquidacion?.saldoPendiente | thousandsPipe"
                                        pInputText type="text" disabled="false" readonly>
                                </div>
                            </div>
                            <div class="ui-g-6"></div>

                            <div class="ui-g-3">
                                <div class="ui-g-12">
                                    Intereses de Mora
                                </div>
                            </div>

                            <div class="ui-g-3">
                                <div style="font-weight: bold" class="ui-g-12">
                                    <input
                                        [ngModel]="responseDetalleLiquidacion?.interesMora==null||responseDetalleLiquidacion?.interesMora==undefined?'No Aplica':'$'+responseDetalleLiquidacion?.interesMora | thousandsPipe"
                                        pInputText type="text" disabled="false" readonly>
                                </div>
                            </div>
                            <div class="ui-g-6"></div>

                            <div class="ui-g-3">
                                <div class="ui-g-12">
                                    Saldo a Favor
                                </div>
                            </div>

                            <div class="ui-g-3">
                                <div style="font-weight: bold" class="ui-g-12">
                                    <input
                                        [ngModel]="responseDetalleLiquidacion?.saldoFavor==null||responseDetalleLiquidacion?.saldoFavor==undefined?'No Aplica':'$'+responseDetalleLiquidacion?.saldoFavor | thousandsPipe"
                                        pInputText type="text" disabled="false" readonly>
                                </div>
                            </div>
                            <div class="ui-g-6"></div>

                            <div class="ui-g-3">
                                <div class="ui-g-12">
                                    Saldo a Favor Aplicado del Periodo Anterior
                                </div>
                            </div>

                            <div class="ui-g-3">
                                <div style="font-weight: bold" class="ui-g-12">
                                    <input
                                        [ngModel]="responseDetalleLiquidacion?.saldoFavorAplicadoPerAnt==null||responseDetalleLiquidacion?.saldoFavorAplicadoPerAnt==undefined?'No Aplica':'$'+responseDetalleLiquidacion?.saldoFavorAplicadoPerAnt | thousandsPipe"
                                        pInputText type="text" disabled="false" readonly>
                                </div>
                            </div>
                            <div class="ui-g-6"></div>

                            <div class="ui-g-3">
                                <div class="ui-g-12">
                                    Total por Retransmisión(*)
                                </div>
                            </div>

                            <div class="ui-g-3">
                                <div style="font-weight: bold" class="ui-g-12">
                                    <input pInputText
                                           [ngModel]="responseDetalleLiquidacion?.totalRetransmision==null||responseDetalleLiquidacion?.totalRetransmision==undefined?'No Aplica':'$'+responseDetalleLiquidacion?.totalRetransmision| thousandsPipe"
                                           type="text" disabled="false" readonly>
                                </div>
                            </div>
                            <div class="ui-g-6"></div>

                            <div class="ui-g-3">
                                <div style="font-weight: bold" class="ui-g-12">
                                    VALOR TOTAL SUGERIDO
                                </div>
                            </div>

                            <div class="ui-g-3">
                                <div style="font-weight: bold" class="ui-g-12">
                                    <input pInputText
                                           [ngModel]="responseDetalleLiquidacion?.valorTotalSugerido==null || responseDetalleLiquidacion?.valorTotalSugerido==undefined ?'No Aplica':'$'+responseDetalleLiquidacion?.valorTotalSugerido | thousandsPipe"
                                           type="text" disabled="false" readonly>
                                </div>
                            </div>
                            <div class="ui-g-6"></div>

                            <div style="font-weight: bold" class="ui-g-12" [hidden]="mostrarNota">
                                Nota: Esta liquidación es un estimado generado a partir de la información reportada
                                a FOGACOOP, por lo tanto, valide dichos valores con su autoliquidación.
                            </div>

                        </div>
                    </p-accordionTab>
                </p-accordion>

                <p-accordion [multiple]="true">
                    <p-accordionTab style="text-align: left" header="Bases de Cálculo">
                        <div class="ui-g">
                            <div class="ui-g-3">
                                <div style="font-weight: bold" class="ui-g-12">
                                    Concepto
                                </div>
                            </div>

                            <div class="ui-g-3">
                                <div style="font-weight: bold; text-align: center" class="ui-g-12">
                                    Base de Cálculo
                                </div>
                            </div>

                            <div class="ui-g-3">
                                <div style="font-weight: bold; text-align: center" class="ui-g-12">
                                    Tasa
                                </div>
                            </div>

                            <div class="ui-g-3"></div>

                            <div class="ui-g-3">
                                <div class="ui-g-12">
                                    Prima
                                </div>
                            </div>

                            <div class="ui-g-3">
                                <div style="font-weight: bold" class="ui-g-12">
                                    <input
                                        [ngModel]="responseGetBasesLiquidacion?.prima==null||responseGetBasesLiquidacion?.prima==undefined?'No Aplica':'$'+responseGetBasesLiquidacion?.prima| thousandsPipe"
                                        pInputText
                                        type="text" disabled="false" readonly>
                                </div>
                            </div>

                            <div class="ui-g-3">
                                <div style="font-weight: bold" class="ui-g-12">
                                    <input
                                        [ngModel]="responseGetBasesLiquidacion?.tasaPrima==null||responseGetBasesLiquidacion?.tasaPrima==undefined?'No Aplica':responseGetBasesLiquidacion?.tasaPrima+'%'"
                                        pInputText type="text"
                                        disabled="false" readonly>
                                </div>
                            </div>
                            <div class="ui-g-3"></div>


                            <div class="ui-g-3">
                                <div class="ui-g-12">
                                    Prima por Posicioón Neta
                                </div>
                            </div>

                            <div class="ui-g-3">
                                <div style="font-weight: bold" class="ui-g-12">
                                    <input
                                        [ngModel]="responseGetBasesLiquidacion?.primaPosNeta==null||responseGetBasesLiquidacion?.primaPosNeta==undefined?'No Aplica':'$'+responseGetBasesLiquidacion?.primaPosNeta| thousandsPipe"
                                        pInputText type="text" disabled="false" readonly>
                                </div>
                            </div>

                            <div class="ui-g-3">
                                <div style="font-weight: bold" class="ui-g-12">
                                    <input
                                        [ngModel]="responseGetBasesLiquidacion?.tasaPrimaPosNeta==null||responseGetBasesLiquidacion?.tasaPrimaPosNeta==undefined?'No Aplica':responseGetBasesLiquidacion?.tasaPrimaPosNeta+'%'"
                                        pInputText
                                        type="text" disabled="false" readonly>
                                </div>
                            </div>
                            <div class="ui-g-3"></div>

                            <div class="ui-g-3">
                                <div class="ui-g-12">
                                    Sobreprima
                                </div>
                            </div>

                            <div class="ui-g-3">
                                <div style="font-weight: bold" class="ui-g-12">
                                    <input
                                        [ngModel]="responseGetBasesLiquidacion?.sobrePrima==null||responseGetBasesLiquidacion?.sobrePrima==undefined?'No Aplica':'$'+responseGetBasesLiquidacion?.sobrePrima| thousandsPipe"
                                        pInputText type="text" disabled="false" readonly>
                                </div>
                            </div>

                            <div class="ui-g-3">
                                <div style="font-weight: bold" class="ui-g-12">
                                    <input
                                        [ngModel]="responseGetBasesLiquidacion?.tasaSobrePrima==null||responseGetBasesLiquidacion?.tasaSobrePrima==undefined?'No Aplica':responseGetBasesLiquidacion?.tasaSobrePrima+'%'"
                                        pInputText
                                        type="text" disabled="false" readonly>
                                </div>
                            </div>
                            <div class="ui-g-3"></div>

                            <div class="ui-g-3">
                                <div class="ui-g-12">
                                    Intereses de Mora
                                </div>
                            </div>

                            <div class="ui-g-3">
                                <div class="ui-g-12">
                                    <input
                                        [ngModel]="responseGetBasesLiquidacion?.interesMora==null||responseGetBasesLiquidacion?.interesMora==undefined?'No Aplica':'$'+responseGetBasesLiquidacion?.interesMora| thousandsPipe"
                                        pInputText type="text" disabled="false" readonly>
                                </div>
                            </div>

                            <div class="ui-g-3">
                                <div class="ui-g-12">
                                    <input
                                        [ngModel]="responseGetBasesLiquidacion?.tasaInteresMora==null||responseGetBasesLiquidacion?.tasaInteresMora==undefined?'No Aplica':responseGetBasesLiquidacion?.tasaInteresMora+'%'+' '+ responseGetBasesLiquidacion.maxDiasInteresMora"
                                        pInputText
                                        type="text" disabled="false" readonly>
                                </div>
                            </div>
                            <div class="ui-g-3"></div>
                        </div>
                    </p-accordionTab>
                </p-accordion>

                <p-accordion [multiple]="true">
                    <p-accordionTab style="text-align: left" header="Información Adicional de Interes">

                        <div class="ui-g">
                            <div class="ui-g-5">
                                <div class="ui-g-6">
                                    Saldo de los Depósitos
                                </div>
                                <div class="ui-g-6">
                                    <input
                                        [ngModel]="saldoTotalDepositos==null||saldoTotalDepositos==undefined?'No Aplica':'$'+ saldoTotalDepositos|thousandsPipe"
                                        pInputText type="text" disabled="false" readonly>
                                </div>
                                <div class="ui-g-9"></div>
                            </div>
                        </div>
                    </p-accordionTab>
                </p-accordion>


                <p-accordion [multiple]="true" [hidden]="ocultarSeccionRetransmision">
                    <p-accordionTab style="text-align: left" header="Liquidación por Retransmisiones">

                        <div class="ui-g">
                            <div class="ui-g-3">
                                <div style="font-weight: bold" class="ui-g-12">
                                    Corte
                                </div>
                            </div>

                            <div class="ui-g-3">
                                <div style="font-weight: bold" class="ui-g-12">
                                    Concepto
                                </div>
                            </div>

                            <div class="ui-g-3">
                                <div style="font-weight: bold; text-align: center" class="ui-g-12">
                                    Valor a Pagar
                                </div>
                            </div>

                            <div class="ui-g-3"></div>

                            <div class="ui-g-3">
                                <div class="ui-g-12">
                                    <input [ngModel]="datosFecha?.fechaCorte" pInputText type="text" disabled="false"
                                           readonly>
                                </div>
                            </div>

                            <div class="ui-g-3">
                                <div class="ui-g-12">
                                    Prima
                                </div>
                            </div>

                            <div class="ui-g-3">
                                <div style="font-weight: bold" class="ui-g-12">
                                    <input
                                        [ngModel]="detallesRetransmision?.prima== null||detallesRetransmision?.prima== undefined?'No Aplica':'$'+detallesRetransmision?.prima|thousandsPipe"
                                        pInputText type="text" disabled="false" readonly>
                                </div>
                            </div>
                            <div class="ui-g-3"></div>


                            <div class="ui-g-3"></div>

                            <div class="ui-g-3">
                                <div class="ui-g-12">
                                    Prima por Posición Neta
                                </div>
                            </div>

                            <div class="ui-g-3">
                                <div class="ui-g-12">
                                    <input
                                        [ngModel]="detallesRetransmision?.primaPosNeta== null||detallesRetransmision?.primaPosNeta== undefined?'No Aplica':'$'+detallesRetransmision?.primaPosNeta|thousandsPipe"
                                        pInputText type="text" disabled="false" readonly>
                                </div>
                            </div>
                            <div class="ui-g-3"></div>


                            <div class="ui-g-3"></div>

                            <div class="ui-g-3">
                                <div class="ui-g-12">
                                    Sobreprima
                                </div>
                            </div>

                            <div class="ui-g-3">
                                <div class="ui-g-12">
                                    <input
                                        [ngModel]="detallesRetransmision?.sobrePrima== null||detallesRetransmision?.sobrePrima== undefined?'No Aplica':'$'+detallesRetransmision?.sobrePrima|thousandsPipe"
                                        pInputText type="text" disabled="false" readonly>
                                </div>
                            </div>
                            <div class="ui-g-3"></div>

                            <div class="ui-g-3"></div>

                            <div class="ui-g-3">
                                <div class="ui-g-12">
                                    Intereses de Mora
                                </div>
                            </div>

                            <div class="ui-g-3">
                                <div class="ui-g-12">
                                    <input
                                        [ngModel]="detallesRetransmision?.interesMora== null||detallesRetransmision?.interesMora== undefined?'No Aplica':'$'+detallesRetransmision?.interesMora|thousandsPipe"
                                        pInputText type="text" disabled="false" readonly>
                                </div>
                            </div>
                            <div class="ui-g-3"></div>

                            <div class="ui-g-3"></div>

                            <div class="ui-g-3">
                                <div style="font-weight: bold" class="ui-g-12">
                                    TOTAL RETRANSMISIÓN
                                </div>
                            </div>

                            <div class="ui-g-3">
                                <div class="ui-g-12">
                                    <input
                                        [ngModel]="detallesRetransmision?.totalRetransmision== null||detallesRetransmision?.totalRetransmision== undefined?'No Aplica':'$'+detallesRetransmision?.totalRetransmision|thousandsPipe"
                                        pInputText type="text" disabled="false" readonly>
                                </div>
                            </div>
                            <div class="ui-g-3"></div>


                        </div>

                    </p-accordionTab>
                </p-accordion>

                <p-accordion [multiple]="true">
                    <p-accordionTab style="text-align: left" header="Saldos Pendientes">

                        <div class="ui-g">
                            <div class="ui-g-5">
                                <div class="ui-g-7">
                                    Prima
                                </div>
                                <div class="ui-g-5">
                                    <input
                                        [ngModel]="saldosPendiente?.prima==null||saldosPendiente?.prima==undefined?'No Aplica':'$'+saldosPendiente?.prima|thousandsPipe"
                                        pInputText type="text" disabled="false" readonly>
                                </div>
                                <div class="ui-g-9"></div>
                            </div>
                        </div>

                        <div class="ui-g">
                            <div class="ui-g-5">
                                <div class="ui-g-7">
                                    Intereses de Mora
                                </div>
                                <div class="ui-g-5">
                                    <input
                                        [ngModel]="saldosPendiente?.interesMora==null||saldosPendiente?.interesMora==undefined?'No Aplica':'$'+saldosPendiente?.interesMora|thousandsPipe"
                                        pInputText type="text" disabled="false" readonly>
                                </div>
                                <div class="ui-g-9"></div>
                            </div>
                        </div>

                        <div class="ui-g">
                            <div class="ui-g-5">
                                <div class="ui-g-7">
                                    Saldos Anteriores
                                </div>
                                <div class="ui-g-5">
                                    <input
                                        [ngModel]="saldosPendiente?.saldosPendientesAnteriores==null||saldosPendiente?.saldosPendientesAnteriores==undefined?'No Aplica':'$'+saldosPendiente?.saldosPendientesAnteriores | thousandsPipe"
                                        pInputText type="text" disabled="false" readonly>
                                </div>
                                <div class="ui-g-9"></div>
                            </div>
                        </div>


                    </p-accordionTab>
                </p-accordion>


                <p-accordion [multiple]="true">
                    <p-accordionTab style="text-align: left" header="Pagos Realizados">

                        <p-table [responsive]="true" [value]="detallesPago" [paginator]="true" [rows]="rowsTabla"
                                 [resizableColumns]="true">
                            <ng-template pTemplate="header">
                                <tr style="text-align:center">
                                    <th *ngFor="let detalle of detalles">
                                        {{detalle.header}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-detallesP>
                                <tr style="text-align:center">
                                    <td *ngFor="let detallePgo of detalles"
                                        [ngClass]="getColorEstadoPago(detallesP[detallePgo.field],detallePgo.field)">
                                        {{detallesP[detallePgo.field]}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-accordionTab>
                </p-accordion>

                <p-accordion [multiple]="true">
                    <p-accordionTab style="text-align: left" header="Informacion Para el Pago">
                        <p-messages [closable]="false" [(value)]="msgsPrincipal"></p-messages>
                        <p-messages [closable]="false" [(value)]="msgSecundario"></p-messages>
                        <app-messages-alert-time-fade-out
                            [messageCustom]="msgCreateTransaction"></app-messages-alert-time-fade-out>
                        <div class="ui-g">
                            <form (ngSubmit)="pagar()" class="ui-fluid" [formGroup]="formPagoPse">
                                <div class="ui-fluid row">

                                    <div [hidden]="true" class="form-group ui-g-12 ui-md-6">
                                        <div class="ui-g-6">
                                            Tipo Documento

                                        </div>
                                        <div class="ui-g-6">
                                            <input formControlName="nit" class="form-control" pInputText type="text"
                                                   readonly>
                                        </div>
                                    </div>


                                    <div class="form-group ui-g-12 ui-md-6">
                                        <div class="ui-g-6">
                                            Numero de Identificación:
                                        </div>
                                        <div class="ui-g-6">
                                            <input [ngModel]="datosBasicos?.numeroIdentificacion"
                                                   formControlName="nitCooperativa" class="form-control" pInputText
                                                   type="text"
                                                   readonly>
                                        </div>

                                    </div>

                                    <div class="form-group ui-g-12 ui-md-6">
                                        <div class="ui-g-6">
                                            Código Verificacion NIT
                                        </div>
                                        <div class="ui-g-6">
                                            <input [ngModel]="datosBasicos?.codVerificacionNit" pInputText
                                                   formControlName="codigoVerificacion"
                                                   class="form-control"
                                                   type="text"
                                                   readonly>
                                        </div>
                                    </div>


                                    <div class="form-group ui-g-12 ui-md-6">
                                        <div class="ui-g-6">
                                            Departamento:
                                        </div>
                                        <div class="ui-g-6">
                                            <input [ngModel]="datosBasicos?.departamento" pInputText
                                                   formControlName="departamento"
                                                   class="form-control"
                                                   readonly>
                                        </div>
                                    </div>


                                    <div class="form-group ui-g-12 ui-md-6">
                                        <div class="ui-g-6">
                                            Municipios:
                                        </div>
                                        <div class="ui-g-6">
                                            <input [ngModel]="datosBasicos?.municipio" pInputText
                                                   formControlName="municipios"
                                                   class="form-control"
                                                   readonly>
                                        </div>
                                    </div>


                                    <div class="form-group ui-g-12 ui-md-6">
                                        <div class="ui-g-6">
                                            Nombre Cooperativa:
                                        </div>
                                        <div class="ui-g-6">
                                            <input [ngModel]="datosBasicos?.nombreCooperativa"
                                                   formControlName="nombreCooperativa" class="form-control"
                                                   pInputText
                                                   type="text"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="ui-g-12 ui-md-6">
                                        <div class="ui-g-6">
                                            Dirección Cooperativa:
                                        </div>
                                        <div class="ui-g-6">
                                            <input [ngModel]="datosBasicos?.direccionCooperativa"
                                                   formControlName="direccionCooperativa" class="form-control"
                                                   pInputText type="text"
                                                   readonly>

                                        </div>
                                    </div>
                                    <div class="ui-g-12 ui-md-6">
                                        <div class="ui-g-6">
                                            Teléfono Cooperativa:
                                        </div>
                                        <div class="ui-g-6">
                                            <input [ngModel]="datosBasicos?.telefonoCooperativa"
                                                   formControlName="telefonoCooperativa" class="form-control"
                                                   pInputText type="text"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="ui-g-12 ui-md-6">
                                        <div class="ui-g-6">
                                            Valor a Pagar
                                            <span class="val"
                                                  *ngIf="formPagoPse.controls['valorPagar'].errors?.required &&formPagoPse.touched && formPagoPse.controls['valorPagar'].dirty">Requerido</span>
                                            <span class="val"
                                                  *ngIf="formPagoPse.controls['valorPagar'].errors?.minlength && formPagoPse.touched && formPagoPse.controls['valorPagar'].dirty">Min 1 caracter</span>
                                            <span class="val"
                                                  *ngIf="errorValor">{{msgErrorValor}}</span>

                                        </div>
                                        <div class="ui-g-6">

                                            <input formControlName="valorPagar" class="form-control" pInputText
                                                   type="text"
                                                   placeholder="Ej: 45000.00"
                                                   (input)="validar()"
                                                   (focusout)="validarMenorCero()"
                                                   (cut)="$event.preventDefault()" (copy)="$event.preventDefault()"
                                                   (paste)="$event.preventDefault()"
                                                   appTwoDigitDecimaNumber>
                                        </div>
                                    </div>


                                    <div class="ui-g-12 ui-md-6">
                                        <div class="ui-g-6">
                                            Correo Cooperativa:
                                        </div>
                                        <div class="ui-g-6">
                                            <input [ngModel]="datosBasicos?.correoCooperativa"
                                                   formControlName="correoCooperativa" class="form-control"
                                                   pInputText type="text"
                                                   readonly>


                                        </div>
                                    </div>


                                </div>

                            </form>


                            <div class="ui-g-9"></div>
                            <div class="ui-g-1"><img src="assets/img/logo-pse.png" width="50em" height="auto"
                                                     alt="">
                            </div>
                            <div class="ui-g-2 form-group" [hidden]="deshabilitarBtnPagar">
                                <div class="ui-g-2 btnalignament">
                                    <p-button type="button" label="Pagar" (click)="pagar()"
                                              [disabled]="formPagoPse.invalid"></p-button>
                                </div>
                            </div>
                        </div>


                    </p-accordionTab>
                </p-accordion>

                <app-messages-alert-time-fade-out
                    [messageCustom]="msgsPagoRegistrado"></app-messages-alert-time-fade-out>


            </div>
        </div>
    </div>
</div>


</body>

