<app-loader
    [blocked]="loader">

</app-loader>


<alert></alert>
<!--<p-messages [(value)]="error" hideTransitionOptions="2000"></p-messages>-->
<app-messages-alert-time-fade-out [messageCustom]="mensajeEnvioCorrectoMail"></app-messages-alert-time-fade-out>
<body>
<div class="card login-panel ui-fluid">

    <div class="ui-g" style="position: center">
        <div class="ui-g-12">
            <img style="width: 100%;" src="assets/layout/images/logo.png">
        </div>
        <p-toast [style]="{marginTop: '80px'}"></p-toast>

        <form (keyup.enter)="submit()" (ngSubmit)="submit()" [formGroup]="form" novalidate>
            <div class="ui-g-12">
          <span class="md-inputfield">
              <input formControlName="username" pInputText type="text" autocomplete="off" autocorrect="off"
                     autocapitalize="off" spellcheck="off">
              <label>Usuario</label>
          </span>
            </div>
            <div class="ui-g-12">
          <span class="md-inputfield">
              <input formControlName="password" type="password" autocomplete="off" autocorrect="off"
                     autocapitalize="off" spellcheck="off" pInputText>
              <label>Contraseña</label>
          </span>
            </div>

        </form>

        <p-captcha [siteKey]="site_key" (onResponse)="showResponse($event)" initCallback="initRecaptcha"></p-captcha>


        <div class="ui-g-12">


            <button pButton type="submit" label="Entrar" (click)="submit()" style="margin-bottom:10px"
                    class="blue-grey-btn"
                    icon="ui-icon-person" [disabled]="!validacionRecaptcha"></button>


            <button pButton type="button" label="Recuperar Contraseña" style="margin-bottom:10px" class="green-btn"
                    icon="ui-icon-help" (click)="recuperarPassword()"></button>
        </div>

        <footer style="text-align: center; font-size: 12px; line-height: 12px">
            <div class="ui-g">
                <div class="ui-g-12">
                    {{anoFooter}} - Power by Toolbox ©. <br> Todos los derechos reservados - SOAINT SOFTWARE ASSOCIATES
                    S.A.S.
                    Nit
                    900.197.910-8
                </div>
            </div>
        </footer>
    </div>
</div>
</body>

<p-dialog class="ui-fluid" header="Recuperar contraseña" [(visible)]="recuperar" modal="true" [responsive]="true"
          width="560" closable (onShow)="initDialogRecoveryPassword()">
    <form [formGroup]="formRecover">

        <div class="ui-inputgroup">

            <div class="ui-g-4">
                <label>Correo Electronico</label>
            </div>

            <div class="ui-g-8">
                <input formControlName="correoElectronico" pInputText type="email" autocomplete="off" autocorrect="off"
                       autocapitalize="off" (keyup)="validarCorreo()" spellcheck="off">
                <span class="val"
                      *ngIf=" firstOnInit && (formRecover.controls['correoElectronico'].errors?.pattern || formRecover.controls['correoElectronico'].errors?.required )">Ingrese un correo válido</span>

            </div>

        </div>


    </form>
    <p-footer>
        <button type="button" pButton icon="ui-icon-check" label="Enviar Link" class="ui-button-success" pButton
                icon="ui-icon-check" (click)="recuperarService()"></button>
        <button type="button" pButton icon="ui-icon-close" label="Cancelar" class="ui-button-danger"
                (click)="closePopup()"></button>

    </p-footer>

</p-dialog>



