<app-loader
[blocked]="loader"></app-loader>
<div class="card ui-fluid">
    <p-messages [closable]="true" [(value)]="msgServicio"></p-messages>
    <div class="video">
        <iframe [src]="iframePath()"
                frameborder="0"
                allowfullscreen>
        </iframe>
    </div>
</div>
