.video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;}
.video iframe{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
