<div [hidden]="mostrarMensaje">
    <app-messages-alert-time-fade-out [messageCustom]="msgServicio"></app-messages-alert-time-fade-out>
</div>

<app-loader
    [blocked]="loader">
</app-loader>

<p-fieldset legend="Administración de Parametros">

    <div class="ui-g-12">
        <div class="ui-g-1">
            Dominios:
        </div>
        <div class="ui-g-4">

            <p-autoComplete [(ngModel)]="parametro" [suggestions]="filtroParametros"
                            (completeMethod)="filterParametroSelect($event)" field="name" [size]="42"
                            placeholder="[ Seleccione ]" [minLength]="1" (onSelect)="cambiarDecision()"
                            [dropdown]="true"></p-autoComplete>

        </div>
        <div class="ui-g-3" [hidden]="botonBuscar">
            <button pButton label="Buscar" icon="ui-icon-search" (click)="buscarParametros()">
            </button>
        </div>

    </div>


    <div class="ui-g-12"></div>


    <div class="ui-g-12"></div>


    <div class="ui-g-6 ui-g-fluid">

        <div class="ui-g-12" style="text-align: left" [hidden]="creable">
            <button label="Agregar Parámetro" stype="button" pButton
                    icon="ui-icon-add"
                    (click)="activarPopUpAgregarParametro()"></button>
        </div>

    </div>

    <div class="ui-g-6 ui-g-fluid" [hidden]="activarHistorico">
        <div class="ui-g-12 ui-g-fluid" style="text-align: right">
            <button label="Historico Parámetros" stype="button" pButton
                    icon="ui-icon-list"
                    (click)="historicoParametros()"></button>
        </div>
    </div>

    <div class="ui-g-12" style="margin-bottom:10px">
        <p-dataTable [resizableColumns]="false" [value]="grupoParametros" selectionMode="single"
                     [paginator]="true"
                     [rows]="10"
                     [responsive]="true" [hidden]="!grupoParametros" [tableStyle]="{'table-layout':'auto'}" [style]="{'text-align':'center'}" >
            <p-header>
                <div class="ui-helper-clearfix">
                    Parametros Activos

                </div>

            </p-header>


            <p-column   header="Id Padre" [sortable]="true" [style]="{'width':'auto'}">
                <ng-template let-parametro="rowData" pTemplate="body" style="text-align: center">
                    {{ parametro?.idPadre}}
                </ng-template>
            </p-column>
            <p-column  header="Id Parametro" [sortable]="true" [style]="{'width':'auto'}">
                <ng-template let-parametro="rowData" pTemplate="body" style="text-align: center">
                    {{ parametro?.idParametro}}
                </ng-template>
            </p-column>
            <p-column   header="Nombre" [sortable]="true" [style]="{'width':'auto'}">
                <ng-template let-parametro="rowData" pTemplate="body" style="text-align: center">
                    {{ parametro?.nombre}}
                </ng-template>
            </p-column>
            <p-column   header="Valor"  [style]="{'width':'auto'}">
                <ng-template let-parametro="rowData" pTemplate="body" style="width:auto">
                    {{ parametro?.valor}}
                </ng-template>
            </p-column>
            <p-column  header="Descripción" [sortable]="true">
                <ng-template let-parametro="rowData" pTemplate="body" style="text-align: center">
                    {{ parametro?.descripcion}}
                </ng-template>
            </p-column>
            <p-column   header="Estado" [sortable]="true" [style]="{'width':'auto'}">
                <ng-template let-parametro="rowData" pTemplate="body" style="text-align: center">
                    {{ parametro?.disabled == 1 ? 'Inactivo' : 'Activo'}}
                </ng-template>
            </p-column>

            <p-column header="Acciones" styleClass="col-button" [style]="{'width':'auto'}">
                <ng-template let-parametro="rowData" let-index="rowIndex" pTemplate="body"
                             style="text-align: center">

                    <div class="ui-g-12">
                        <div class="ui-g-5" [hidden]="editable">
                            <button title="Editar " type="button"
                                    pButton
                                    icon="ui-icon-edit"
                                    (click)="editarParametro(parametro, index)"></button>

                        </div>

                        <span class="ui-g-2" *ngIf="disabled && editable">
                       No aplica
                   </span>
                        <div class="ui-g-5" [hidden]="disabled">
                            <button title="Deshabilitar"
                                    stype="button"
                                    pButton
                                    icon="ui-icon-power"
                                    (click)="deshabilitarParametro(parametro, index)"></button>
                        </div>
                    </div>

                </ng-template>

            </p-column>


        </p-dataTable>
    </div>


    <p-dialog header="Parámetros" [(visible)]="popUpHistorico" modal="modal"
              width="750" [responsive]="true" [closable]="false">

        <div class="ui-g-12" style="margin-bottom:10px">
            <p-dataTable [resizableColumns]="true" [value]="grupoParametrosInactivos" selectionMode="single"
                         [paginator]="true"
                         [rows]="10"
                         [responsive]="true" [hidden]="!grupoParametros"
                         [style]="{'text-align':'center','width':'auto'}">
                <p-header>
                    <div class="ui-helper-clearfix">
                        Parametros Inactivos

                    </div>

                </p-header>
                <p-column header="Id Padre" [sortable]="true" [style]="{'width':'auto'}">
                    <ng-template let-parametro="rowData" pTemplate="body" style="text-align: center">
                        {{ parametro?.idPadre}}
                    </ng-template>
                </p-column>
                <p-column header="Nombre" [sortable]="true" [style]="{'width':'auto'}">
                    <ng-template let-parametro="rowData" pTemplate="body" style="text-align: center">
                        {{ parametro?.nombre}}
                    </ng-template>
                </p-column>
                <p-column frozen="true" header="Valor" [sortable]="true" [style]="{'width':'auto'}">
                    <ng-template let-parametro="rowData" pTemplate="body" style="text-align:center">
                        {{ parametro?.valor}}
                    </ng-template>
                </p-column>
                <p-column header="Descripción" [sortable]="true" [style]="{'width':'auto'}">
                    <ng-template let-parametro="rowData" pTemplate="body" style="text-align: center">
                        {{ parametro?.descripcion}}
                    </ng-template>
                </p-column>
                <p-column header="Estado" [sortable]="true" [style]="{'width':'auto'}">
                    <ng-template let-parametro="rowData" pTemplate="body" style="text-align: center">
                        {{parametro?.disabled == 1 ? 'Inactivo' : 'Activo' }}
                    </ng-template>
                </p-column>

                <p-column header="Acciones" styleClass="col-button" [style]="{'width':'auto'}">
                    <ng-template let-parametro="rowData" let-index="rowIndex" pTemplate="body"
                                 style="text-align: center">
                        <button title="Deshabilitar" style="margin-right: 5px" type="button"
                                pButton
                                icon="ui-icon-power"
                                (click)="deshabilitarParametro(parametro, index)"></button>

                    </ng-template>

                </p-column>

            </p-dataTable>


        </div>
        <p-footer>
            <button type="button" pButton icon="ui-icon-close" (click)="cerrar()" label="Cancelar"
                    class="ui-button-danger"></button>
        </p-footer>

    </p-dialog>

    <form (ngSubmit)="nuevoParametro()" class="ui-fluid" [formGroup]="formNuevoParametro">
        <p-dialog header="Agregar Parámetro" [(visible)]="agregarParametro" modal="modal">

            <div class="form-group">

                <div class="ui-inputgroup" [hidden]="campoIdPadre">
                    <div class="ui-g-4">
                        <label>Id Padre</label>
                    </div>
                    <div class="ui-g-8">
                        <p-dropdown formControlName="IdPadre" class="form-control"
                                    [options]="idPadres"
                                    placeholder="[ Seleccione ]"
                                    optionLabel="name" [(ngModel)]="selectIdPadre"
                                    (onChange)="selectIPadre()"
                                    [style]="{maxWidth:'100%', minWidth:'100%'}"></p-dropdown>
                    </div>
                </div>

                <div class="ui-inputgroup">
                    <div class="ui-g-4">
                        <label>Nombre</label>
                    </div>
                    <div class="ui-g-8">
                        <input type="text" formControlName="nombre" class="form-control" size="63" pInputText
                        >
                    </div>
                </div>


                <div class="ui-inputgroup">
                    <div class="ui-g-4">
                        <label>Descripcion</label>
                    </div>
                    <div class="ui-g-8">
                        <input type="text" formControlName="descripcion" size="63" pInputText>
                    </div>
                </div>

                <div class="ui-inputgroup">
                    <div class="ui-g-4">
                        <label>Valor</label>
                    </div>
                    <div class="ui-g-8">
                        <input type="text" formControlName="valor" size="63" pInputText>

                    </div>
                </div>


            </div>


            <p-footer>

                <button type="button" pButton icon="ui-icon-check" (click)="nuevoParametro()" label="Guardar"
                        class="ui-button-success"></button>

                <button type="button" pButton icon="ui-icon-close" (click)="cerrar()" label="Cancelar"
                        class="ui-button-danger"></button>
            </p-footer>

        </p-dialog>
    </form>

</p-fieldset>
<div *ngIf="usuarioPadre">
    <app-detalle-administracion-parametros
        [usuarioHijo]="usuarioPadre"
        (guardarParametro)="guardarParametro($event)">

    </app-detalle-administracion-parametros>
</div>
