<p-messages [closable]="true" [(value)]="msgsPagoRegistrado"></p-messages>
<body>
<div>
    <app-loader
        [blocked]="loader">

    </app-loader>
</div>
<div class="ui-card ui-g-12">
    <div class="generalPage">
        <header>
            <div class="generalPage">
                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-6">
                            <img src="assets/img/headerPagosPse/fogacoop.png"
                                 style="max-width: 400px; min-width: 100px">
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <img src="assets/img/headerPagosPse/Logo-MinHacienda-header.png"
                                 style="max-width: 400px; min-width: 100px">
                        </div>
                    </div>
                </div>
            </div>
        </header>


        <div class="ui-card ui-g-12">
            <div class="generalPage">
                <div class="ui-g-12 ui-md-12 h2">
                    <h2 style="color: #3F51B5" class="encabezado">Confirmacion Pago</h2>
                </div>
                <app-messages-alert-time-fade-out
                    [messageCustom]="msgGetTransaction"></app-messages-alert-time-fade-out>
                <div class="ui-g-12 ui-md-12">
                    <form #forma=ngForm novalidate>
                        <div class="ui-fluid row">
                            <div class="form-group ui-g">
                                <p-fieldset class="encabezado" legend="Confirmacion pago">

                                    <div class="ui-g">
                                        <div class="ui-g-12 ui-md-6">
                                            <div class="ui-g-5">
                                                Entidad:
                                            </div>
                                            <div class="ui-g-7">
                                                <input class="form-control" [(ngModel)]="confirmacionPago.entidad"
                                                       name="entidad"
                                                       pInputText
                                                       type="text" placeholder="Entidad" readonly="true"/>
                                            </div>
                                        </div>
                                        <div class="ui-g-12 ui-md-6">
                                            <div class="ui-g-5">
                                                NIT :
                                            </div>
                                            <div class="ui-g-7">
                                                <input class="form-control" [(ngModel)]="confirmacionPago.NIT"
                                                       name="NIT" pInputText
                                                       type="text"
                                                       placeholder="NIT" readonly="true"/>
                                            </div>
                                        </div>
                                        <div class="ui-g-12 ui-md-6">
                                            <div class="ui-g-5">
                                                Fecha:
                                            </div>
                                            <div class="ui-g-7">
                                                <input class="form-control"
                                                       [value]="confirmacionPago.fechaPago | date: 'dd/MM/yyyy'"
                                                       name="fechaPago"
                                                       pInputText
                                                       type="text" placeholder="Fecha" readonly="true"/>

                                            </div>
                                        </div>
                                        <div class="ui-g-12 ui-md-6">
                                            <div class="ui-g-5">
                                                Estado:
                                            </div>
                                            <div class="ui-g-7">
                                                <input class="form-control" [(ngModel)]="confirmacionPago.estadoPago"
                                                       name="estadoPago" pInputText
                                                       type="text" placeholder="Estado de pago" readonly="true"/>
                                            </div>
                                        </div>
                                        <div class="ui-g-12 ui-md-6">
                                            <div class="ui-g-5">
                                                Banco:
                                            </div>
                                            <div class="ui-g-7">
                                                <input class="form-control" [(ngModel)]="confirmacionPago.banco"
                                                       name="banco"
                                                       pInputText type="text"
                                                       placeholder="Banco" readonly="true"/>
                                            </div>
                                        </div>
                                        <div class="ui-g-12 ui-md-6">
                                            <div class="ui-g-5">
                                                Numero de transacción:
                                            </div>
                                            <div class="ui-g-7">
                                                <input class="form-control"
                                                       [(ngModel)]="confirmacionPago.numTransaccion"
                                                       name="numTransaccion"
                                                       pInputText type="text" placeholder="Numero de transaccion"
                                                       readonly="true"/>
                                            </div>
                                        </div>
                                        <div class="ui-g-12 ui-md-6">
                                            <div class="ui-g-5">
                                                Valor pagado:
                                            </div>
                                            <div class="ui-g-7">
                                                <input class="form-control" [(ngModel)]="confirmacionPago.valorPagado"
                                                       name="valorPagado" pInputText
                                                       type="text" placeholder="Valor Pagado" readonly="true"/>
                                            </div>
                                        </div>


                                    </div>
                                </p-fieldset>

                            </div>

                        </div>

                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-g-6"></div>
                            <div class="ui-g-4">
                                <div class="ui-g-1"><img src="assets/img/logo-pse.png" width="50em" height="auto"
                                                         alt=""></div>
                            </div>

                            <div class="ui-g-2 btnalignament">
                                <p-button label="Finalizar" (onClick)="finalizar()"></p-button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
