
@import '../../../../node_modules/primeng/resources/primeng.min.css';
@import '../../../../node_modules/primeicons/primeicons.css';
@import '../../../../node_modules/primeng/resources/themes/nova-light/theme.css';


.marginLabel {
    margin-right: 15px;
}

.marginImput {
    margin-right: 1.3em;
    margin-left: 0.5em;
}

.marginPanel {
    margin-right: 3em;
    margin-left: 3em;
    padding-right: 3em;
    padding-left: 3em;
}

.espaciado {
    margin-bottom: 2em;
}

.inline {
    display: inline-flex;
}

.h2 {
    color: #143D8D;
    font-weight: bold;
    font-size: 25px;
    font-family: Arial;
}

.generalPage {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.inputFecha {
    width: 154px;
}
.val {
    font-size: 70%;
    color: red;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: -5%;
}


.approve-pay {
    background-color: rgb(17, 219, 152) !important;
    color: #ffffff !important;
}

.failed-pay {
    background-color: rgb(236, 166, 15) !important;
    color: #ffffff !important;
}

.rejected-pay {
    background-color: rgb(228, 15, 26) !important;
    color: #ffffff !important;
}


