<p-table [responsive]="true" [value]="tablaFechaPrima">
    <ng-template pTemplate="header">
        <tr style="text-align:center">
            <th *ngFor="let fech of fechPrima">
                {{fech.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-fechPrim>
        <tr style="text-align:center">
            <td *ngFor="let fechP of fechPrima">
                {{fechPrim[fechP.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
